.dots {
    width: 20px;
}

.directory {
    font-size: 28px;
    padding: 10px 15px;
    cursor: pointer;
    user-select: none;
    width: 100%;
    background-color: rgb(242, 246, 252);
}

.directory:hover {
    background-color: #DFE3E7 !important;
}

.directoryName {
    font-size: 14px;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.moreIcon {
    font-size: 20px;
    height: 30px;
    width: 30px;
}

.moreIcon:hover {
    background-color: rgb(205, 212, 226);
}

.directoryNameWithIcon {
    width: calc(100% - 47px);
}

.selected, .selected:hover {
    background-color: rgb(194, 231, 255) !important;
}
