@font-face {
    font-family: 'product-sans';
    src: url('./assets/fonts/productsans-regular-webfont.eot');
    src: url('./assets/fonts/productsans-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/productsans-regular-webfont.woff2') format('woff2'),
    url('./assets/fonts/productsans-regular-webfont.woff') format('woff'),
    url('./assets/fonts/productsans-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
    padding: 0;
    margin: 0;
    font-family: 'product-sans', serif;
    color: rgb(68, 71, 70);
    background-color: #f7f9fc!important;
}
.drive-z {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
.contextMenu {
    --contexify-menu-bgColor: #fff;
    --contexify-separator-color: rgba(0,0,0,.2);
    --contexify-item-color: #333;
    --contexify-activeItem-color: #333333;
    --contexify-activeItem-bgColor: #e6e6e6;
    --contexify-rightSlot-color: #6f6e77;
    --contexify-activeRightSlot-color: #333333;
    --contexify-arrow-color: #6f6e77;
    --contexify-activeArrow-color: #333333;
}