.topSearch input {
    background-color: rgb(237, 242, 252);
}
.topSearch label{
    padding-left: 1.5rem!important;
}
.logo {
    font-size: 24px
}
.options {
    font-size: 25px;
}
.sidebar, .headerLeft {
    width: 20%;
}
.headerRight {
    width: 80%
}

